.f2-login{
    /* Fundo Login*/

    .f2-fundo {
        background-image: url(../../../public/assets/img/background-login.png);
        background-repeat: no-repeat;
        height: 52.3em;
        padding-top: 5em;
       
    }
    
    .f2-painellogin {
        background-color: #DFDFDF90;
        text-align: center;
        margin-top: 5em;
    
        margin-left: 22em;
        margin-right: 22em;
    
        padding-bottom: 5em;
        
    
        border-radius: 30px;
    }
    
    .f2-icon{
        margin-top: 3em;
    }
    
    .f2-user1 {
        font-family: 'inter';
        margin-right: 20em;
        margin-top: 2em;
    }
    
    .f2-user2 {
        border: none;
        margin-left: 10px;
        margin-top: 1em;
        font-size: 1em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-right: 12em;
        border-radius: 5px;
    }
    
    .f2-senha1 {
        font-family: 'inter';
        margin-right: 20em;
        margin-top: 2em;
    }
    
    .f2-senha2 {
        border: none;
        margin-left: 10px;
        margin-top: 1em;
        font-size: 1em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-right: 12em;
        margin-bottom: 3em;
        border-radius: 5px;
    }
    
    .f2-logarr {
        height: 2em;
        text-decoration: none;
        font-family: "inter";
        color: #000000;
        background-color: #ffffff;
        padding-top: 0.3em;
        padding-left: 1.7em;
        padding-right: 1.7em;
        padding-bottom: 0.7em;
        border-radius: 2em;
        border: none;

    }
    
    .f2-botao:hover {
        color: #044886;
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        transition: all 0.5s ease;
        
    }
    
    .f2-logarr:hover {
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        transition: all 0.5s ease;
        color: #044886;
        cursor: pointer;
    }
    
    input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    @media(max-width:1920px)
    {
        .f2-fundo {
        }
    }
}