.container{

    /////// CABECALHO //////////

    .f2-cabecalho{
        display: flex;
        justify-content: space-between;
        height: 4em;
        z-index: -1;
        background-color: black;
    }

    .search{
        position: relative;
        left: 14em;

        display: flex;
        justify-content: center;

        margin-top: 1em;
    }

    .bots{
        display: flex;
        justify-content: center;
        align-items: center;
      
      
        
    }
    
    .f2-logo62{
        width: 9em;
        height: 5em;
        margin-left: 2em;
        margin-top: -0.3em;
    }
    
    .f2-botao{
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        right: 8em;
    
        text-decoration: none;
        font-family: 'k2d';
        color: #000000;
        background-color: #ffffff;
        width: 100px;
        height: 33px;
        border-radius: 2em;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .f2-botao:hover {
        color: #044886;
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        transition: all 0.5s ease;
    }

    .f3-botao:hover {
        color: #044886;
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        transition: all 0.5s ease;
    }
    
    .f3-botao{
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        left: 13em;
        top: 1em;
        text-align: center;
        
        text-decoration: none;
        font-family: 'k2d';
        color: #000000;
        background-color: #ffffff;
        border-radius: 2em;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 100px;
        height: 33px;
    }
    
    

    input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    
    .f2-1-1 {
        padding: 0.5em;
        background: #fff;
        border-radius: 6px;
        border: none;
        padding-right: 5em;
    }
    
    .f2-img {
        margin-top: 0.5em;
        height: 1em;
        width: auto;
    
        position: relative;
        right: 3em;
        top: 0.2em;
    
        cursor: pointer;
    }

    .carros{
        display: flex;
        flex-direction: row;
    }
    
    .carros-geral {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card-c1{
        position: relative;
        top: 10em;
        margin-left: -5em;
        margin-bottom: 7em;
        width: 378px;
        height: 408px;
        
        background: #E7E7E7;
        border-radius: 20px;
    }
    
    .car-c1{
        width: 378px;
        height: 217px;
        padding-right: 5em;
        background: #C4C4C4;
        border-radius: 20px; 
    
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .name-c1{
        z-index: -1;
        left: 9em;
        background-color: #E7E7E7;
        border-radius: 10px;
    }
    
    .title-c1{
        display: flex;
        justify-content: left;
        align-items: center;

        font-family: 'inter';
        font-size: 1.4em;
        position: relative;
        top: 4px;
        left: 13px;
    }
    
    .card-2-c1 {
        font-family: 'inter';
        line-height: 2em;
        margin-left:1em ;
    }
    
    .card-3-c1 {
        margin-left: 14em;
    }
    

/////////////// RODAPE ////////////////


    .f1-rodape {
        display: flex;
        flex-direction: row;
        height: 14em;
        background-color: #3D3D3D;
        margin-top: 10em;
    }
    
    /* Primeira Div */
    
    .f1-r-d1{
        display: flex;
        flex-direction: column;
    }
    
    .f1-r-logo{
        margin-left: 3em;
        margin-top: 2em;
        margin-bottom: 6em;
        height: 5em;
    }
    
    .f1-r-in-18 {
        position: relative;
        bottom: 1em;
        color: #a8a8a8;
        margin-left: 0.5em;
        font-family: 'inter';
    }
    
    .f1-bt-aa {
        position: absolute;
        width: 121px;
        height: 120px;
        left: 0px;
        top: 28px;
    
        background: rgba(196, 196, 196, 0.7);
        border-radius: 15px;
    
        z-index: -1;
    
        font-family: 'inter';
    }
    
    .f1-bt-a {
        margin-top: 2em;
        margin-left: 1em;
    }
    
    .bg {
        margin-left: 1em;
    }
    
    /* Segunda Div */
    
    .f1-r-d2{
        display: flex;
        flex-direction: row;
    }
    
    .f1-r-img1{
        height: 2.5em;
        margin-left: 3em;
        margin-top: 5em;
    }
    
    .f1-r-img2{
        height: 2.5em;
        margin-left: 2em;
        margin-top: 4.8em;
    }
    
    .f1-r-img3{
        height: 2.7em;
        margin-left: 1.5em;
        margin-top: 4.7em;
    }
    
    .f1-r-img-4{
        position: relative;
        right: 7em;
    
        margin-top: 2em;
        height: 3em;
        width: auto;
    }
    
    /*Terceira Div (Topicos) */
    
    .f1-r-tpc{
        display: flex;
        flex-direction: row;
        margin-left: 2.5em;
        color: #fff;
        font-family: 'inter';
        margin-top: 2em;
    }
    
    /* Primeiro Topico */
    
    .f1-r-tpc1{
        margin-right: 5em;
    
    }
    
    
    
    .f1-in-19{
        margin-bottom: 1em;
    }
    
    .f1-in-20{
        text-decoration: none;
        margin-bottom: 0.5em;
        color: #e0e0e0;
    }
    
    .f1-in-20:hover{
        text-decoration: underline;
    }
    
    .f1-r-tpc2{
        margin-right: 3.5em;
    }
    
    /* Terceira Div */
    
    .f1-r-c4{
        display: flex;
        flex-direction: row;
    }
    
    .f1-r-in-21{
        position: relative;
        right: 7.5em;
    
        color:rgb(236, 236, 236);
        font-family: 'inter';   
        margin-top: 3em;
        margin-left: 0.8em;
        margin-bottom: 3em;
    }
    
    .f1-r-in-22{
        position: relative;
        right: 7em;
    
        color: #e0e0e0;
        font-family: 'inter';
        font-size: 0.9em;
        margin-bottom: 1em;
    }
    
    .f1-r-in-23{
        margin-top: 2.5em;
        font-size: 0.9em;
        color: white;
        font-family: 'inter';
    }

    .carro-1
    {
        display: flex;
        flex-direction: row;
    }
    .b-marca, .b-codigo-c1, .ix-img, .name-c1, .title-c1,.card-3-c1 {
        -webkit-transition: all 0.5s ease;
    }

    .carro-1:hover {
        .b-marca {
            color: #044886;
            transition: 0.4s;
        }
        .b-codigo-c1 {
            color: #044886;
            transition: 0.4s;
        }
        .ix-img {
            transition: 0.4s;
            transform: scale(1.05);
        }
        .title-c1 {
            font-size: 1.4em;
            transition: 0.4s;
            font-weight: bold;
        }

        .icon-lixeira, .icon-edit {
            visibility: visible;
        }

        
    }

    .icon-lixeira {
        visibility: hidden;

        height: 1.5em;
        width: auto;
        position: relative;
        left: 18em;
        top: 7.8em;
        cursor: pointer;
    }

    .icon-edit {
        visibility: hidden;

        height: 1.5em;
        width: auto;
        position: relative;
        left: 19em;
        top: 7.8em;
        cursor: pointer;
    }
 
//////////////////////////////////////////////////////////////    
    
    @media (max-width:1440px) {
    
        .f2-cabecalho {
            width: 137vh;
        }
    
        .f1-bts {
            position: relative;
            left: -105em;
        }
    
        .f1-botao {
            position: relative;
            left: -13em;
        }
    
        .f2-botao {
            position: relative;
            left: -11em;
        }
    
        .f2-1-1 {
            margin-left: 6em;
        }
    
        .f3-botao {
            position: relative;
            left: -12em;
        }
    
        .card-2 {
            display: none;
        }
    
        .name-2 {
            display: none;
        }
    
        .card-c1 {
            margin-left: -1em;
        }
    
        
    }
    
    ::-webkit-scrollbar-thumb {
        background-color:#a8a8a8;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
    }

    @media(max-width:1920px){

        .carros-todos {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 50%  ;
        }

        .name-c1 {
            position: relative;
            top: 7em;
            display: flex;
            justify-content: center;
            align-items:stretch;
            height: 11%;
            width:max-content;
            word-spacing: 0;
        }

        .title-c1 {
            left: 0;
            top: 0;
        }

        .abc {
            display: flex;
            flex-wrap: wrap;
        }

        .carro-1 {
            margin-left: 3.8em;
            width: 21%;
        }

        .f1-r-d1 {
            margin-right:2em ;
        }

        .f1-r-d2 {
            margin-right: 13em;
        }

        .car-c1 {
            display: flex;
            justify-content: flex;
            align-items: center;
        }

        .card-c1 {
            height: 28em;
        }

        .f1-r-tpc2 {
            margin-left: 2em;
            margin-right: 2em;
        }

        .f1-r-c4-1 {
            position: relative;
            left: 30em;
        }

        .f2-botao {
            position: relative;
            right: 11em;
            margin-top: 1em;
        }

        .f1-r-in-23 {
            width: 100%;
            position: relative;
            right: 7em;
        }

        .card-3-c1-1 {
            position: relative;
            left: 14em;
            bottom: 1em;
        }
    }
}