.abc {
    display: flex;
    flex-wrap: wrap;
.carro-1 {
    margin-left: 3.8em;
    width: 21%;
}
.card-c1{
    position: relative;
    top: 10em;
    margin-left: -5em;
    margin-bottom: 7em;
    width: 378px;
    height: 408px;
    
    background: #E7E7E7;
    padding-top: 0.6em;
    border-radius: 20px;
}
.title-c1{
    display: flex;
    justify-content: left;
    align-items: center;

    font-family: 'inter';
    font-size: 1.4em;
    position: relative;
    top: 4px;
    left: 13px;
}
.car-c1{
    height: 217px;
    background: #C4C4C4;
    border-radius: 20px; 

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card-2-c1 {
    font-family: 'inter';
    line-height: 2em;
    margin-left:1em ;
}
.b-marca, .b-codigo-c1, .ix-img, .name-c1, .title-c1,.card-3-c1 {
    -webkit-transition: all 0.5s ease;
}
.card-3-c1 {
    margin-left: 14em;
}

.icon-lixeira {
    visibility: hidden;

    height: 1.5em;
    width: auto;
    position: relative;
    left: 14.7em;
    top: 8em;
    cursor: pointer;
    z-index: 1;
}

.icon-edit {
    visibility: hidden;

    height: 1.5em;
    width: auto;
    position: relative;
    left: 15.5em;
    top: 8em;
    cursor: pointer;
    z-index: 1;
}

.carro-1:hover {
    .b-marca {
        color: #044886;
        transition: 0.4s;
    }
    .b-codigo-c1 {
        color: #044886;
        transition: 0.4s;
    }
    .ix-img {
        transition: 0.4s;
        transform: scale(1.05);
    }
    .title-c1 {
        font-size: 1.4em;
        transition: 0.4s;
        font-weight: bold;
    }

    .icon-lixeira, .icon-edit {
        visibility: visible;
    }
}
}

@media(max-width:1920px){
    .title-c1 {
        display: flex;
        justify-content: center;
        left: 0;
        top: 0;
        padding-bottom: 0.2em;
    }
    .abc {
        display: flex;
        flex-wrap: wrap;
        margin-left: 3.5em;
    }
    .carro-1 {
        margin-left: 3.8em;
        width: 21%;
        height: 500px;
    }
    .f1-r-d1 {
        margin-right:2em ;
    }
    .f1-r-d2 {
        margin-right: 13em;
    }
    .car-c1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-c1 {
        position: relative;
        top: 10em;
        margin-left: -6em;
        width: 400px;
        height: 510px;
        
        background: #E7E7E7;
        padding-top: 0.6em;
        border-radius: 20px;
    }
    .f1-r-tpc2 {
        margin-left: 2em;
        margin-right: 2em;
    }
    .f1-r-c4-1 {
        position: relative;
        left: 30em;
    }
    .f2-botao {
        position: relative;
        right: 11em;
        margin-top: 1em;
    }
    .f1-r-in-23 {
        width: 100%;
        position: relative;
        right: 7em;
    }
    .card-3-c1-1 {
        position: relative;
        left: 14em;
        bottom: 1em;
    }
}

    @media(max-width:1280px ){
    .abc {
        display: flex;
        flex-wrap: wrap;
        width: 150%;
    .carro-1 {
        margin-left: 9em;
        width: 15%;
    }
    .card-c1{
        position: relative;
        top: 10em;
        margin-left: -6em;
        margin-bottom: 7em;
        width: 400px;
        height: 510px;
        
        background: #E7E7E7;
        padding-top: 0.6em;
        border-radius: 20px;
    }
    .title-c1{
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-family: 'inter';
        font-size: 1.4em;
        position: relative;
        top: 4px;
        left: 13px;
    }
    .car-c1{
        height: 217px;
        background: #C4C4C4;
        border-radius: 20px; 
    
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .card-2-c1 {
        font-family: 'inter';
        line-height: 2em;
        margin-left:1em ;
    }
    .b-marca, .b-codigo-c1, .ix-img, .name-c1, .title-c1,.card-3-c1 {
        -webkit-transition: all 0.5s ease;
    }
    .card-3-c1 {
        margin-left: 17em;
        width: 5em;
    }
    
    .icon-lixeira {
        visibility: hidden;
    
        height: 1.5em;
        width: auto;
        position: relative;
        left: 14.7em;
        top: 8em;
        cursor: pointer;
        z-index: 1;
    }
    
    .icon-edit {
        visibility: hidden;
    
        height: 1.5em;
        width: auto;
        position: relative;
        left: 15.5em;
        top: 8em;
        cursor: pointer;
        z-index: 1;
    }
    
    .carro-1:hover {
        .b-marca {
            color: #044886;
            transition: 0.4s;
        }
        .b-codigo-c1 {
            color: #044886;
            transition: 0.4s;
        }
        .ix-img {
            transition: 0.4s;
            transform: scale(1.05);
        }
        .title-c1 {
            font-size: 1.4em;
            transition: 0.4s;
            font-weight: bold;
        }
    
        .icon-lixeira, .icon-edit {
            visibility: visible;
        }
    }  
    }
    }