body {
    font-family: sans-serif;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    .form {
        display: flex;
        flex-direction: row;
    }
    .loginLoading {
        height: 14px;
        width: auto;
        padding: 0em 0em;
    }

    input {
        margin: 0 1em 2em 0;
    }
}

.loginError {
    display: none;
}

